/* stylelint-disable selector-class-pattern */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This CSS file represents an example assuming two languages (en and es) are available. */

:root {
  --color-primary: #015c55;
  --color-secondary: #ccd9d6;
  --color-overlay-text-btn: #211748;
  --font-regular: 300;
  --font-bold: 600;
  --letter-spacing: 2px;
  --content-margin-left: 100px;
}

html,
body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: Barlow, sans-serif;
  margin: 0;
  padding: 0;
}

/* eslint-disable block-opening-brace-newline-after */
* {
  -webkit-tap-highlight-color: transparent;
}

/** Attract Screen */

.attract-screen {
  animation: fade-in 0.5s ease;
  background-color: rgb(204 217 214);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.attract-content {
  display: grid;
  grid-template-rows: 780px 200px 100px;
  height: 1080px;
  opacity: 1;
  position: relative;
  user-select: none;
}

.attract-video-loop {
  display: block;
  grid-row: 1/2;
  height: 780px;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 500;
}

.attract-video-loop video {
  height: 780px;
  position: relative;
  width: 100%;
  z-index: 500;
}

.attract-swipe-icon {
  animation: swipe-animation 2.5s infinite;
  background-image: url("../images/swipe.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 40%;
  height: 155.5px;
  position: absolute;
  right: 5%;
  width: 125px;
  z-index: 600;
}

@keyframes swipe-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-75px);
  }

  75% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.attract-title,
.attract-text {
  text-align: left;
  user-select: none;
}

.attract-title.first {
  padding: 0 150px;
}

.attract-title.second {
  padding: 0 200px 0 70px;
}

.attract-text.default-locale {
  padding: 0 150px;
}

.attract-text.non-default-locale {
  padding: 0 200px 0 70px;
}

.attract-section-1 {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: grid;
  font-size: 60px;
  font-weight: bold;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  height: 200px;
  text-transform: lowercase;
}

.attract-section-2 {
  align-items: center;
  color: var(--color-overlay-text-btn);
  display: grid;
  font-size: 32px;
  grid-row: 3/4;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}

.slide-wrapper {
  display: grid;
  grid-template-columns: 776px 1144px;
}

/** Content - Right side of slide */

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: space-between;
  user-select: none;
}

.es.text-container,
.en-US.text-container {
  margin-left: var(--content-margin-left);
  margin-top: 25px;
  width: 680px;
}

.en-US h2,
.es h2 {
  font-size: 55px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 25px;
  text-transform: lowercase;
}

.separator {
  background: var(--color-secondary);
  height: 3px;
  margin-top: 15px;
}

.en-US .body p,
.es .body p {
  font-size: 30px;
  font-weight: var(--font-regular);
  letter-spacing: var(--letter-spacing);
}

.img-info {
  color: var(--color-secondary);
  font-size: 22.5px;
  font-weight: var(--font-regular);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 40px;
  margin-left: var(--content-margin-left);
  width: 680px;
}

.slide-footer {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.credit {
  bottom: 30px;
  color: rgb(255 255 255 / 90%);
  font-size: 12px;
  height: 0;
  left: 15px;
  padding: 0 5px 5px 10px;
  position: absolute;
  text-shadow: 0 0 4px rgb(0 0 0 / 60%);
  width: 700px;
}

/* Title slide */

.title-slide {
  background: var(--color-primary);
}

.title-slide .en-US,
.title-slide .es {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 61px;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  top: 50%;
  width: 100%;
}

/* Swiper customization */

.swiper-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.gatsby-image-wrapper img {
  width: 776px;
}

#media-video {
  opacity: 1;
  width: 776px;
}

.swiper-slide {
  background: var(--color-primary);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-pagination-bullets {
  right: 1.4% !important;
}

.swiper-pagination-bullet {
  height: 15px !important;
  margin: 25px 20px 20px 15px !important;
  width: 15px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.3 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

/* Language Toggle Button */

.locale-toggle-button {
  align-items: center;
  background-color: var(--color-secondary, 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  border: none;
  border-top-left-radius: 15px;
  bottom: 0;
  box-shadow: -6px 3px 0 0 rgb(0 0 0 / 10%);
  color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  opacity: 0.85;
  padding: 0;
  position: absolute;
  right: 0;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
  width: 100px;
  z-index: 1;
}

.locale-toggle-button.es {
  background-image: url("../images/default-eng-button.png");
}

.locale-toggle-button.en-US {
  background-image: url("../images/default-es-button.png");
}

.locale-toggle-button:active {
  background-image: url("../images/active-language-button.png");
  transform: translate(0) scale(0.95);
  transform-origin: bottom right;
}

.locale-toggle-button.hidden {
  animation: fade-out 0.25s ease;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.locale-toggle-button.visible {
  animation: fade-in 0.5s ease;
  opacity: 0.85;
  visibility: visible;
}

@keyframes fade-out {
  0% {
    opacity: 0.85;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.85;
  }
}
